### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

In [2]:
# view the information in the data frame
purchase_data_df.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
purchase_data_df = purchase_data_df.set_index("Purchase ID")
purchase_data_df.head()

,SN,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [4]:
total_players = len(purchase_data_df["SN"].unique())
total_players

total_players = pd.DataFrame({"Total # of Players": [total_players]})
total_players

   Total # of Players
0                 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#first find the number of unique items by just pulling the rows from the item name column

unique_items = len(purchase_data_df["Item Name"].unique())
unique_items

#second find the average of the price column
average_price = purchase_data_df["Price"].mean()
average_price

#third find the total # of purchases
index = purchase_data_df.index
total_purchases = len(index)
total_purchases

#fourth, find the total revenue earned
total_revenue = sum(purchase_data_df["Price"])
total_revenue

#put all summary data into a data frame and then display it 
summary_data = pd.DataFrame({"Total # of Unique Items" : [unique_items],
                            "Average Price" : [average_price],
                            "Total # of Purchases" : [total_purchases],
                            "Total Revenue" : [total_revenue]})

summary_data

   Total # of Unique Items  Average Price  Total # of Purchases  Total Revenue
0                      179       3.050987                   780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [20]:
#purchase_data_df = purchase_data_df.set_index("SN")
purchase_data_df

#First, drop the duplicates in the SN column
no_duplicates_df = purchase_data_df.drop_duplicates(subset="SN", keep="last")
no_duplicates_df

#find the unique # of males in the data set first
unique_males = len(no_duplicates_df[no_duplicates_df["Gender"] == "Male"])
unique_males

#find the unique # of females in the data set next
unique_females = len(no_duplicates_df[no_duplicates_df["Gender"] == "Female"])
unique_females

#find the unique # other in the data set
unique_other = len(no_duplicates_df[no_duplicates_df["Gender"] == "Other / Non-Disclosed"])
unique_other

#add the sum of unique males, unique females, and unique other
#gender_total = 
gender_total = unique_males + unique_females + unique_other
gender_total

#divide the # of unique males by the gender total
male_pct = (unique_males / gender_total) * 100
male_pct

#divide the # of unique females by the gender total
female_pct = (unique_females / gender_total) * 100
female_pct

#divide the # of unique other by the gender total
other_pct = (unique_other / gender_total) * 100
other_pct

#present the above information in a data frame summary table

1.9097222222222223


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame